@import './helpers.css';
@import './mail/mail-app.css';
@import './note/note-main.css';

/* Main */
html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-image: url('/img/background/background.jpg');
    background-size: cover;
    font-size: 2.4rem;
}

/* ----------------Layout --------------*/
/* --------------- 
/* Header */

.app-header {
    width: 100vw;
    height: 50px;
    background: #282828;
    color:white;
    font-size: 2rem;
}

.app-header a {
    color: white;
    margin: 10px;
}

.app-header a:hover {
    color: cyan;
}

.edit-footer{
    display:flex
}
