.control-bar {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: yellow;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 3px;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

p {
  font-size: 1.8rem;
  margin: 0;
}

.note-app input.text-input {
  height: 2.8rem;
}

.note-app ul {
  list-style: none;
}
.note-app li {
  width: 16rem;
  background: #fff;
  padding: 2rem;
  margin: 1rem;
}
