i,
p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--txt-dark);
}
.note-app {
  margin-top: 3rem;

}


.note-app .input-bar {
  position: relative;


  width: 50rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem 0.6rem;
  margin: 2rem auto;
  border-radius: 3px;
  align-items: center;
}

.input-bar input {
  border: 0;
  height: 3.2rem;
  width: 36rem;
  padding: 0 0.6rem;
}

.input-type-select {
  width: 12rem;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

p {
  font-size: 1.8rem;
  margin: 0;
}
.note-app {
}
.notes-container {
  max-height: calc(100vh - 400px);
  justify-content: flex-start;
  align-content: flex-start;
  padding: 2rem;
 
}
.note-app .note {
  position: relative;
  width: 16rem;
  min-height: 10rem;
  background: #fff;
  padding: 1rem 1.6rem 0.2rem;
  /* padding-bottom: 0; */
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

.pinned-notes-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}

#button-pinned {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  opacity: 1;
}
.icon-pin {
  color: var(--txt-dark);
}
/* MODAL////////////////// */
.note-app .edit-modal {
  width: 50vw;
  padding: 1rem 1.6rem;
  /* background: #fff; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.note-app .edit-modal .common-ctrl {
  margin-top: 0.6rem;
  opacity: 1;
  transition: opacity 0.3s;
}

.note-app .edit-modal p {
  line-height: 2.4rem;
}
.note-app .edit-footer {
  padding-top: 1rem;
}

.note-app .hide {
  opacity: 0;
}

.note li {
  font-size: 1.6rem;
}

/* .note::before,
.note::after{
  content: '';
display: block;
right:0;
top:0;
position: absolute;

} */
/* .note::after{
  border-top: 20px solid transparent;
  border-left: 20px solid rgba(32, 32, 32, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3)
} */

.note .icon {
  position: absolute;
  opacity: 0.5;
  top: 1rem;
  right: 1rem;
}

.note-app .note-color-1 {
  background-color: var(--note-color-1);
}

.note-app .note-color-2 {
  background-color: var(--note-color-2);
}

.note-app .note-color-3 {
  background-color: var(--note-color-3);
}

.note-app .note-color-4 {
  background-color: var(--note-color-4);
}

.note-app .note-color-5 {
  background-color: var(--note-color-5);
}

.note-app .note-color-6 {
  background-color: var(--note-color-6);
}

.note-app .note-color-7 {
  background-color: var(--note-color-7);
}

.note-app .note-color-8 {
  background-color: var(--note-color-8);
}

.common-ctrl {
  /* border:1px dashed red; */
  position: absolute;
  width: 90%;
  bottom: 0.4rem;
  /* right: .2rem;; */
  opacity: 0;
  transition: opacity 0.3s;
}

.common-ctrl:hover {
  opacity: 1;
}

.note button,
.input-type-select button,
.common-ctrl button {
  width: rem;
  height: 2.8rem;
  background: transparent;
  border: 0px;
  outline: none;
  padding: 0;
  margin-right: 0.6rem;
}
.note button:hover,
.input-type-select:hover,
.common-ctrl button:hover {
  background: transparent;
}
.note button .button-icon,
.input-type-select .button-icon,
.common-ctrl .button-icon {
  position: static;
  opacity: 0.7;
  font-size: 1.3em;
  width: 2.4rem;
  height: 1.8rem;
  outline: 0;
  border: 0;
}
.note button .button-icon:hover,
.input-type-select .button-icon:hover,
.common-ctrl .button-icon:hover {
  opacity: 1;
}

.color-ctrl {
  position: absolute;
  padding: 0.6rem;
  width: 14rem;
  height: 8rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 20;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid lightgray;
  border-radius: 3px;
}

.color-spot {
  /* position: absolute; */
  border-radius: 50%;
  border: 1px solid rgb(231, 231, 231);
  margin: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  /* z-index: 30; */
}

.color-spot:hover {
  border: 1px solid rgb(95, 95, 95);
}

.color-spot:last-child {
  border: 1px solid rgb(146, 146, 146);
}

.color-spot:hover,
.color-spot:last-child:hover {
  border: 1px solid rgb(95, 95, 95);
}
