/* MAIL: SIDE BAR */

.side-bar-container {
    width: 285px;
    background: #1C2129;
    height: calc(100vh - 50px);
}

.side-bar-container li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
    color:white;
    width: 200px;
    height: 54px;
    padding: 10px;
}

.side-bar-container li:hover {
    background: rgba(12, 157, 208, 0.7);
    border-radius: 3px;
}

.new-mail-btn {
    cursor: pointer;
    height: 50px;  
    margin: 20px;
    background: #0C9DD0;
    font-size: 1.6rem;
    border:none;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

.new-mail-btn:hover {
    color: white;
}

/* MAIL: LIST */

.mail-list-container {
    width: 500px;
    height: calc(100vh - 50px);
    background: #F3F3F3;
}

/* MAIL: LIST: SEARCHBOX */

.searchbox-container {
    height: 70px;
    border-bottom: 1px solid black;
}

.previews {
    height: calc(100vh - 50px - 70px);
    overflow-y: scroll;
}

/* MAIL: LIST: PREVIEW */

.mail-preview-container {
    cursor: pointer;
    min-height: 100px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.8rem;
    border-left: 4px solid  #0C9DD0;
}

.mail-preview-container:hover {
    animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.35);
    }
  }

.preview-icons {
    width: 10%;
}

.icon-unread {
    color: #2D9CDB;
}

.icon-unread:hover {
}

.icon-starred {
    color: gold
}

.preview-txt {
    width: 75%;
}

.preview-subject {
    margin: 4px 0 4px 0;
}

.preview-time {
    color: #828282;
    width: 15%
}

/* MAIL: DETAILS */

.mail-details-container {
    width: calc(100vw - 785px);
    height: calc(100vh - 50px);
    background: rgba(255,255,255,0.5);
    border: 1px solid #898989;
    box-sizing: border-box;
}

/* MAIL: DETAILS: CONTROLBAR */

.controlbar-container {
    height: 70px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

/* MAIL: DETAILS: CONTENT */

.details-content-container {
    overflow-y: scroll;
    height: calc(100vh - 50px - 70px);
}