a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  /* MAIL APP */

.mail-app-container {
      flex: 1;
      overflow: hidden;
}

/* MAIL: SIDE BAR */

.side-bar-container {
    width: 160px;
    background: #1C2129;
}

.side-bar-ul {
    padding-left: 1rem;
}

.side-bar-container li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
    color: white;
    width: 120px;
    height: 15px;
    padding: 10px;
    font-size: 1.4rem;
}

.side-bar-container li:hover {
    /* background: rgba(12, 157, 208, 0.7); */
    background: #f38721;
    border-radius: 3px;
}

.new-mail-btn {
    cursor: pointer;
    height: 30px;
    margin: 45px 20px 0 20px;
    background: #f38721;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
}

.new-mail-btn:hover {
    transform: scale(1.1)
}

/* MAIL: LIST */

.mail-list-container {
    background: #F3F3F3;
    flex: 1;
    min-width: 320px;
}

/* MAIL: LIST: SEARCHBOX */

.searchbox-container {
    position: relative;
    height: 40px;
    border-bottom: 0.5px solid #898989;
}

.searchbox-container input {
    margin: 0.5rem;
    padding-right: 50px;
    width: 200px;
    height: 20px;
    border: 1px solid #BDBDBD;
    text-indent: 15px;
    font-size: 1.4rem;
    border-radius: 3px;
    outline: none;
}

.searchbox-container .icon-magnifier {
    position: absolute;
    top: 27px;
    right: 138px;
    font-size: 1.4rem;
}

.previews {
    overflow-y: auto;
    flex:1;
    border-right: 0.5px solid #898989;
}

/* MAIL: LIST: PREVIEW */

.mail-preview-container {
    position: relative;
    cursor: pointer;
    max-height: max-content;
    border-bottom: 0.5px solid #898989;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.4rem;
    border-left: 4px solid rgba(125,170,97,1);;
    min-height: 100px;
}

.mail-preview-container:hover {
    animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.35);
    }
}

.preview-icons {
    width: 10%;
}

.preview-icons .icon-unread {
    color: rgba(125,170,97,1);
    font-size: 0.7rem;
}

.preview-icons .icon-read {
    font-size: 0.7rem;
}

.icon-starred {
    color: gold;
}

.preview-txt {
    width: 85%;
}

.preview-subject {
    margin: 4px 0 4px 0;
}

.mail-preview-container .preview-time {
    font-size: 1.2rem;
    color: #828282;
    right: 0.5rem;
}

.preview-trash {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.preview-time {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
}

.highlight-selected {
    background: rgba(243, 135, 33, 0.3)
}
/* MAIL: DETAILS */

.mail-details-container {
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    flex:3;
}

/* MAIL: DETAILS: CONTROLBAR */

.controlbar-container {
    height: 40px;
    box-sizing: border-box;
    background: #F3F3F3;
    padding: 10px;
    border-bottom: 0.5px solid #898989;
}

.controlbar-container > * {
    cursor: pointer;
    /* padding: 1.1rem; */
}

.controlbar-container *:hover {
    /* color: rgb(12, 157, 208); */
    color: rgba(125,170,97,1);
}

.controlbar-container .control-reply-title {
margin:  0 0 0 0.5rem;
font-size: 1.4rem;
}

.controlbar-container .control-back,
.controlbar-container .control-forward {
    font-size: 1rem;
}

.controlbar-nav-nums {
    /* padding: 7px; */
    font-size: 1.4rem;
    text-align: center;
}

.controlbar-nav-nums > .controlbar-of {
    margin-left:0;
    color: grey;
    font-size: 1.4rem;
}

/* MAIL: DETAILS: CONTENT */

.details-content-container {
    padding: 4%;
    overflow-y: auto;
    color:#1C2129;
    font-size: 1.4rem;
    box-sizing: border-box;
    background: #fff;
    flex:1;
}

.content-sender {
    height: 10%;
    font-size: 1.6rem;
    color: #1C2129;
}

.content-sender-avatar {
    margin-right: 2%;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    border: 1px solid rgb(100, 109, 121);
    background: rgba(243, 135, 33, 0.4);
}

.content-sender-email {
    font-size: 1.2rem;
    margin-left: 2px;
}

.content-time {
    margin-left: auto;
    font-size: 1.4rem;
}

.content-clock-icon {
    color: white
}

.content-subject {
    font-size: 1.4rem;
    margin: 3% 0 7% 0;
}

/* MAIL: MAIL-COMPOSE */

.mail-compose-container {
    background: #F3F3F3;
    border-left: 0.5 solid #898989;
    background: #fff;
    color: #1C2129;
    overflow-y: auto;
    flex:2;
}

.mail-compose-container  * {
    outline: none;
}

.compose-bar {
    height: 40px;
    box-sizing: border-box;
    background: #F3F3F3;
    padding: 10px;
    border-bottom: 0.5px solid #898989
}

.send-title, .discard-title {
    font-size: 1.4rem;
    color: rgb(37, 42, 48);
    margin-left: 2%;
}

.compose-discard, .compose-send {
    cursor: pointer;
}

.compose-discard:hover *, .compose-send:hover * {
    font-weight: 500;
    color: #f38721
}


.compose-discard {
    margin-left: 2%;
}

.compose-inputs {
    margin: 30px;
}

.mail-compose-container input {
    width: 99%;
    margin: 1%;
    height: 45%;
    background: none;
    border: none;
    border-bottom: 0.5px solid rgb(63, 71, 80);
    font-size: 1.4rem;
    padding-bottom: 0.1rem;
    color: #1C2129;
}

.compose-input-from-container, 
.compose-input-to-container,
.compose-input-subject-container {
    position: relative;
}

.compose-from-title,
.compose-to-title,
.compose-subject-title {
    font-size: 1.4rem;
    position: absolute;
    left: 1%;
    top: 26%;
    color: #f38721
}

.compose-from-input {
    text-indent: 4.5rem;
}

.compose-to-input {
    text-indent: 2.5rem;
}
.compose-subject-input {
    text-indent: 6rem;
}

.compose-body-input {
    margin-top: 4%;
    min-width: 85%;
    min-height: 25vh;
    margin-left: 1%;
    font-size: 1.4rem;
}