a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

/* MAIL: SIDE BAR */

.side-bar-container {
    width: 285px;
    background: #1C2129;
    height: calc(100vh - 50px);
}

.side-bar-container li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
    color: white;
    width: 200px;
    height: 54px;
    padding: 10px;
}

.side-bar-container li:hover {
    background: rgba(12, 157, 208, 0.7);
    border-radius: 3px;
}

.new-mail-btn {
    cursor: pointer;
    height: 50px;
    margin: 20px;
    background: #0C9DD0;
    font-size: 1.6rem;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 500;
}

.new-mail-btn:hover {
    color: white;
}

/* MAIL: LIST */

.mail-list-container {
    width: 500px;
    height: calc(100vh - 50px);
    background: #F3F3F3;
}

/* MAIL: LIST: SEARCHBOX */

.searchbox-container {
    position: relative;
    height: 70px;
    border-bottom: 1px solid #898989;
}

.searchbox-container input {
    margin: 15px;
    padding-right: 50px;
    width: 300px;
    height: 40px;
    border: 1px solid #BDBDBD;
    text-indent: 15px;
    font-size: 1.8rem;
    border-radius: 3px;
}

.searchbox-container .icon-magnifier {
    position: absolute;
    top: 27px;
    right: 138px;
    font-size: 2.2rem;
}

.previews {
    height: calc(100vh - 50px - 70px);
    overflow-y: scroll;
}

/* MAIL: LIST: PREVIEW */

.mail-preview-container {
    position: relative;
    cursor: pointer;
    max-height: max-content;
    border-bottom: 1px solid #898989;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.8rem;
    border-left: 4px solid #0C9DD0;
}

.mail-preview-container:hover {
    animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.35);
    }
}

.preview-icons {
    width: 10%;
}

.icon-unread {
    color: #2D9CDB;
}

.icon-starred {
    color: gold;
}

.preview-txt {
    width: 85%;
}

.preview-subject {
    margin: 4px 0 4px 0;
}

.preview-time {
    font-size: 1.6rem;
    color: #828282;
    width: 15%
}

.preview-trash {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.preview-time {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
}

.highlight-selected {
    background: rgba(12, 157, 208, 0.4);
}
/* MAIL: DETAILS */

.mail-details-container {
    width: calc(100vw - 785px);
    height: calc(100vh - 50px);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

/* MAIL: DETAILS: CONTROLBAR */

.controlbar-container {
    height: 70px;
    box-sizing: border-box;
    background: #F3F3F3;
    font-size: 5rem;
    padding: 10px;
}

.controlbar-container * {
    cursor: pointer;
}

.controlbar-container *:hover {
    color: rgb(12, 157, 208);
}

.controlbar-container  *:not(.control-reply) {
    margin-left: 30px;
}

.controlbar-nav-nums {
    padding: 7px;
    font-size: 3rem;
    text-align: center;
}

.controlbar-nav-nums > .controlbar-of {
    margin-left:0;
    color: grey;
    font-size: 2.5rem;
}

/* MAIL: DETAILS: CONTENT */

.details-content-container {
    padding: 5%;
    overflow-y: scroll;
    height: calc(100vh - 50px - 70px);
    /* color: rgb(37, 42, 48); */
    color:white;
    font-size: 2.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #0c9dd0, #2f7da6, #345f7d, #304455, #252a30);
}

.content-sender {
    height: 10%;
    font-size: 4rem;
    /* color: rgb(37, 42, 48) */
    color: white;
}

.content-sender-avatar {
    margin-right: 2%;
    width: 75px;
    line-height: 75px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 1px solid rgb(37, 42, 48);
    background-image: linear-gradient(to top, #00c9dd, #1b93a2, #1d616b, #163338, #000506);
}

.content-sender-email {
    font-size: 2rem;
    margin-left: 2px;
}

.content-time {
    margin-left: auto;
    font-size: 2.5rem;
}

.content-clock-icon {
    color: white
}

.content-subject {
    font-size: 3.6rem;
    margin: 5% 0 5% 0;
}

/* MAIL: MAIL-COMPOSE */

.mail-compose-container {
    background: #F3F3F3;
    border-left: 1px solid rgb(37, 42, 48);
    width: calc(100vw - 785px);
    height: calc(100vh - 50px);
    background: #1C2129;
    color: #F3F3F3;
}

.compose-bar {
    height: 70px;
    box-sizing: border-box;
    background: #F3F3F3;
    font-size: 5rem;
    padding: 10px;
    border-bottom: 1px solid rgb(37, 42, 48);
}

.compose-inputs {
    margin: 30px;
}

.mail-compose-container input {
    width: 80%;
    margin: 1%;
    height: 45%;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(63, 71, 80);
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #F3F3F3;
}

.compose-input-from-container, 
.compose-input-to-container,
.compose-input-subject-container {
    position: relative;
}

.compose-from-title,
.compose-to-title,
.compose-subject-title {
    position: absolute;
    left: 1%;
    top: 26%;
    color: rgb(12, 157, 208);
}

.compose-from-input {
    text-indent: 6rem;
}

.compose-to-input {
    /* text-indent: 3%; */
    text-indent: 4rem;
}
.compose-subject-input {
    /* text-indent: 7%; */
    text-indent: 8rem;
}